#result {
	-webkit-animation: fadeInAnimation 2s;
    -moz-animation: fadeInAnimation 2s;
    -ms-animation: fadeInAnimation 2s;
    -o-animation: fadeInAnimation 2s;
  	animation: riseUpResult 2s;
}
@keyframes riseUpResult {
  0%   {left: 0px; bottom: -200px;}
  100% {left: 0px; bottom: 0px;}
}

#inputRow {
	-webkit-animation: fadeInAnimation 2s;
    -moz-animation: fadeInAnimation 2s;
    -ms-animation: fadeInAnimation 2s;
    -o-animation: fadeInAnimation 2s;
    animation: fadeInAnimation 2s;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.9;
    }
}